@import "../../styles.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.about {
  background: $color-about;
  padding: 20px;
  margin-top: -20px;


  &__title {
    color: $color-page;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-align: end;
    margin-bottom: 1rem;
  }

  &__foto {
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &__image {
    width: 100%;
    margin-top: -40px;
  }

  &__line {
    height: 5px;
    background: $color-page;
    margin-bottom: 2rem;
  }

  &__subscription {
    color: $color-page;
    font-size: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: justify;
  }
}
