<div class="projects">
  <div class="projects__title">PROJECTS</div>
  <div class="projects__line"></div>
  <div class="projects__items">
    <div class="projects__items-part">
      <div class="projects__item" *ngFor="let item of projects">
        <div class="projects__name">{{item.name}}</div>
        <div class="projects__subscribe">{{item.subscribe.toUpperCase()}}</div>
        <div class="projects__image">
          <img class="projects__img" src="{{item.path}}" alt='{{item.name}}'>
        </div>
      </div>
      <div><a class="projects__link" href="https://github.com/Kate4ka007">see more projects on https://github.com/Kate4ka007</a></div>
    </div>


    <!-- <div class="projects__items-part">
      <div class="projects__item" *ngFor="let item of projects_two">
        <div class="projects__name">{{item.name}}</div>
        <div class="projects__subscribe">{{item.subscribe}}</div>
        <div class="projects__image">
          <img class="projects__img" src="{{item.path}}" alt='{{item.name}}'>
        </div>
      </div>
    </div> -->

  </div>

</div>
