@import "../../styles.scss";

.skills {
  background: rgba(196, 196, 196, 0.2);
  width: 100%;
  padding: 60px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  &__title {
    color: $color-main;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    text-align: right;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  &__line {
    background-color: $color-main;
    min-height: 3px;
  }

  &__item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    &::marker {
      color: $color-list;
      font-size: 2rem;
    }
  }

  &__triangle-middle,
  &__triangle-top,
  &__triangle-bottom {
    display: inline-block;
    width: 1px;
    height: 1px;
    border: 20px solid transparent;
    border-right: 40px solid #ffffff;
    position: relative;
  }

  &__triangle-middle {
    top: -465px;
    left: 485px;
  }
  &__triangle-top {
    top: -1191px;
    left: 546px;
  }
  &__triangle-bottom {
    top: -172px;
    left: 424px;
  }

  &__rect-top {
    width: 50px;
    position: relative;
    top: -1170px;
    right: -385px;

  }

  &__rect-middle {
    width: 50px;
    position: relative;
    top: -1005px;
    right: -270px;
  }

  &__rect-bottom {
    width: 50px;
    position: relative;
    top: -850px;
    right: -459px;
  }
}

img {
  width: 100%;
}

.small {
  width: 30px;
}

.skills__rect-blue {
  position: relative;
  top: -770px;
  right: -340px;

}
.skills__rect-fiol {
  position: relative;
  top: -534px;
  right: -525px;
}
.skills__rect-yellow {
  position: relative;
  top: -1210px;
  right: -505px;
}
.skills__rect-pink {
  position: relative;
  top: -1357px;
  right: -230px;
}

.skills__rect-green {
  position: relative;
  top: -405px;
  right: -460px;
}

.skills__rect-yellow1 {
  position: relative;
  top: -750px;
  right: -380px;
}
.skills__rect-pink1 {
  position: relative;
  top: -620px;
  right: -210px;
}


img {
  animation: 3s ease-in-out .6s infinite upAndDown;
}

@keyframes upAndDown {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 20%, 0);
  }
}
