@import "../styles.scss";

body {
  background: gray;
}

:host {
  width: 1440px;
  margin: 0 auto;
}

app-root {
  width: 1440px;
  margin: 0 auto;
}

.page {
  width: 1440px;
  display: flex;
  flex-direction: column;
  background: $color-page;
  margin: 0 auto;
  overflow: hidden;

  &__middle {
    width: 1440px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  &__top {
    width: 1440px;
    min-height: 50px;
    background: $color-light_grey;
  }

  &__left,
  &__right {
    width: 705px;
    padding: 0 20px;
  }

  &__about {
    background: $color-about;
    margin-bottom: 50px;
  }

  &__round {
    position: relative;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    top: -8px;
    left: -23px;
    background: $color-page;
  }

  &__triangle {
    width: 1px;
    height: 1px;
    border: 20px solid transparent;
    border-right: 40px solid #ffffff;
    position: relative;
    top: -500px;
    left: 608px;
  }
}
