/* You can add global styles to this file, and also import other style files */
$color-page: #ffffff;
$color-list: #ed6a6d;
$color-main: #343434;
$color-grey: #34343480;
$color-light_grey: #d9d9d9;
$color-dark: #000000;
$color-about: #fc9393;


* {
  box-sizing: border-box;
}
body {
  background: gray;
}



